<div class="section" id="education">
	<div class="container cc-education">
		<div class="h4 text-center mb-4 title">Education</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
						<p>2015 - 2018</p>
						<div class="h5">Master's Degree</div>
					</div>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Master of Computer Applications</div>
						<h4 class="category">College of Engineering, Guindy
						</h4>
						<ul>
							<li>College of Engineering Guindy (CEG) is an open institution that is associated with Anna University.
							<li>Completed MCA with <b>7.5 CGPA</b>.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
						<p>2012 - 2015</p>
						<div class="h5">Bachelor's Degree</div>
					</div>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Bachelor of Science</div>
						<h4 class="category">The American College
						</h4>
						<ul>
							<li>The American College is MKU Affiliated.
							<li>Completed B.Sc in Mathematics with <b>7 CGPA</b>.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
						<p>2010 - 2012</p>
						<div class="h5">Higher Secondary</div>
					</div>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Higher Secondary</div>
						<h4 class="category">PNU APT Dorairaj
						</h4>
						<ul>
							<li>
								The High School was mainly focus on the bases of science and mathematics
							</li>
							<li>
								There was also a good base on physics, chemistry and biology.
							</li>
							<li>
								Completed my high school with<b> 68%</b>.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="row">
				<div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body cc-education-header">
						<p>2009 - 2010</p>
						<div class="h5">Secondary School</div>
					</div>
				</div>
				<div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
					<div class="card-body">
						<div class="h5">Secondary School</div>
						<h4 class="category">PNU APT Dorairaj
						</h4>
						<ul>
							<li>The Secondary aims at Maths , English , Science, Social Science and <b>தமிழ்</b>.
							</li>

							<li>
								Completed my Secondary school with <b>88%</b>.
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>